.app-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.app-header {
  background-color: #222;
  padding: 20px;
  color: white;
  text-align: center;
}
.yee-mode .app-header {
  background-image: url(./header-background.jpg);
  padding: 108px 0;
}


.yee-on { display: none!important; }
.yee-mode .yee-on { display: inline!important; }
.yee-mode .yee-off { display: none!important; }
.yee-mode .yee-orange { color: #ffe350; }
.yee-mode.app { background-color: orangered; }

.app-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.col-centered 
{
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.container {
  padding-top: 15px;
  padding-bottom: 15px;
}

#loader {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  border: 12px solid #000;
  border-top: 12px solid #61DAFB;
  animation: linear infinite .6s App-logo-spin;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  margin-bottom: 10vh;
}
